<h2>Sign up</h2>

  <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer' do |f| %>
  <%= render "customer/shared/error_messages", resource: resource %>

  <div class="table table-bordered">
    <%= f.label :"名前" %>
    <%= f.label :"(姓)"%>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
    <%= f.label :"(名)"%>
    <%= f.text_field :first_name, autofoucs: true, autocomplete: "first_name" %>

    <%= f.label :"フリガナ"%>
    <%= f.label :"(セイ)"%>
    <%= f.text_field :last_name_kana, autofoucs: true, autocomplete: "last_name_kana" %>
    <%= f.label :"(メイ)"%>
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>

    <%= f.label :"メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>


    <%= f.label :"郵便郵便番号(ハイフンなし)" %>
    <%= f.text_field :post_code, autocomplete: true, autocomplete: "post_code" %>



    <%= f.label :"住所"%>
    <%= f.text_field :address, autocomplete: true, autocomplete: "address", size: 50 %>



    <%= f.label :"電話番号(ハイフンなし)"%>
    <%= f.text_field :phone_number, autocomplete: true, autocomplete: "phone_number" %>


    <%= f.label :"パスワード" %>
    <% if @minimum_password_length %>
    <%= @minimum_password_length %>文字以上
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>


    <%= f.label :"パスワード(確認用)" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>



    <%= f.submit "Sign up" %>
  </div>
  
<% end %>

<%= render "customer/shared/links" %>
